.wp-core-ui .mexp-content-usatsi_mexmp_service  .attachment.details {
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}

.wp-core-ui .mexp-content-usatsi_mexmp_service  .attachment.details .check {
	display: none;
}

.wp-core-ui .mexp-content-usatsi_mexmp_service .attachment {
	padding:0;
}

.mexp-content-usatsi_mexmp_service .mexp-item-thumb img {
	width: auto;
	max-height: 250px;
	max-height: 250px;
}

.mexp-content-usatsi_mexmp_service .media-frame-content .attachment,
.mexp-content-usatsi_mexmp_service .mexp-item {
	height: 340px !important;
	width: 300px !important;
}

.mexp-content-usatsi_mexmp_service .mexp-spinner {
	position:absolute;
	width: 100%;
	height: 100%;
	background: url(../images/spinner.gif) no-repeat;
	background-size: 100%;
	left: 50%;
	top: 50%;
}

.mexp-content-usatsi_mexmp_service .on-hover-content {
	position: absolute;
	top: -2px;
	left: -2px;
	background-color: #000;
	padding: 10px;
	border-radius: 10px;
	width: 430px;
	text-align: center;
	display: none;
	z-index: 999999;
}

.mexp-content-usatsi_mexmp_service .on-hover-content img {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}

.mexp-content-usatsi_mexmp_service .on-hover-content {
	text-align: left;
	overflow: hidden;
	box-shadow: 3px 3px 14px 0px #ccc;
	-webkit-box-shadow: 3px 3px 14px 0px #ccc;
	-moz-box-shadow: 3px 3px 14px 0px #ccc;
}

.mexp-content-usatsi_mexmp_service .on-hover-content .label-title {
	font-weight: bold;
	font-size: 14px;
}

.mexp-content-usatsi_mexmp_service .on-hover-content .label-caption {
	color: #f2f2f2;
}

.mexp-content-usatsi_mexmp_service .on-hover-content .label-credit {
	color: #666;
}

.mexp-content-usatsi_mexmp_service ul.media-actions {
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	color: #FFF;
	width: 100%;
	height: 100%;
	overflow: hidden;
	line-height: normal;
}

.mexp-content-usatsi_mexmp_service .media-actions li {
	display: inline-block;
	margin: 5px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	opacity: .7;
	border-radius: 5px;
}

.mexp-content-usatsi_mexmp_service li.media-icon-preview,
.mexp-content-usatsi_mexmp_service li.media-icon-import {
	width: 20px;
	height: 20px;
	color: #FFF;
	background-size: 70%;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;
}

.mexp-content-usatsi_mexmp_service li.media-icon-preview {
	background-image: url(../images/eye.png);
}

.mexp-content-usatsi_mexmp_service li.media-icon-preview:hover {
	background-image: url(../images/eye-hover.png);
}

.mexp-content-usatsi_mexmp_service li.media-icon-import {
	background-image: url(../images/upload.png);
	right: 46px;
}

.mexp-content-usatsi_mexmp_service li.media-icon-import:hover {
	background-image: url(../images/upload-hover.png);
}

.mexp-content-usatsi_mexmp_service .media-preview-link,
.mexp-content-usatsi_mexmp_service .mexp-spinner {
	width: calc(100% - 1px);
	position: absolute;
	height: 100%;
	background: #000;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: .8;
	color: #fff;
	display: none;
	padding: 10px;
	box-sizing: border-box;
}

.mexp-content-usatsi_mexmp_service .mexp-svg-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
}


.mexp-content-usatsi_mexmp_service .media-preview-link-input {
	width: 50%;
	height: 20px;
	background: #000;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #FFF;
	display: block;
	margin: 0 auto;
	clear: both;
	margin-bottom: 5px;
	outline: none;
	padding: 5px;
}

.mexp-content-usatsi_mexmp_service .media-preview-link button {
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

.mexp-content-usatsi_mexmp_service .media-preview-link button a {
	color: #000;
}

.mexp-content-usatsi_mexmp_service .media-preview-link button a:hover {
	text-decoration: none;
}

#usatsi-mexp-button {
	display: inline-block;
	text-indent: -1000px;
	overflow: hidden;
	background-image: url(../images/si-logo-2x-black.png);
	background-repeat: no-repeat;
	width: 110px;
	background-size: 90%;
	background-position: center;
}

#usatsi-mexp-backto-button {
	float: right;
	margin-top: -45px;
	margin-right: 15px;
}